{{!--applicantRecords.handlebars --}}
<div>
	<!--Main Content-->
		<div class="col-sm-10 col-md-10">
	    <div class="thumbnail" id="thumbnailRecord">
	        <h3><font color = "#345487">&nbsp Applicant Records</font></h3>
	        <div class = "well" id="wellRecord">
	        	<div class="col-sm-12 col-md-12" id="viewApplicants">
	        	<table class="table table-striped">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>SSN</th>
						<th>Campus</th>
						<th>Age</th>
						<th>Sex</th>
						<th>Select</th>
						<th>View</th>
					</tr>
					{{#each infoApplicants}}
					<tr>
						<td>{{firstName}}</td>
						<td>{{lastName}}</td>
						<td>{{ssn}}</td>
						<td>{{campus}}</td>
						<td>{{age}}</td>
						<td>{{sex}}</td>
						<td><button type="button" class="btn btn-primary " onclick="goToEdit({{@index}})">Edit</button></td>
						<td><button type="button" class="btn btn-primary " onclick="goToView({{@index}})">View</button></td>
					</tr>
					{{/each}}
				</table>
				</div>		
			</div>
	    </div>
	    </div>
	<!--Main Content end-->
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src=""></script>
<script type="text/javascript" src="./js/applicantRecordsClient.js"></script>